{% extends "_email_base.html" %} {% block title %}New activity in room{% endblock %}
{% block header %}
<style type="text/css">
  {%- include 'mail.css' without context %}
  {%- include "mail-%s.css" % app_name ignore missing without context %}
</style>
{% endblock %} {% block body %}
<table id="page">
  <tr>
    <td></td>
    <td id="inner">
      <table class="header">
        <tr>
          <td>
            <div class="salutation">Hi {{ user_display_name }},</div>
            <div class="summarytext">{{ summary_text }}</div>
          </td>
          <td class="logo">
            <img
              src="https://assets.pangea.chat/brand/Medium-Light-Horizontal-Logo.png"
              width="304"
              height="82"
              alt="Pangea Chat"
            />
          </td>
        </tr>
      </table>
      {%- for room in rooms %} {%- include 'room.html' with context %} {%-
      endfor %}
      <div class="footer">
        <a href="{{ unsubscribe_link }}">Unsubscribe</a>
        <br />
        <br />
      </div>
    </td>
    <td></td>
  </tr>
</table>
{% endblock %}
